		.col-md-7{
			padding: 32px 24px;
			margin: 0;
		}
		.col-md-4{
			padding: 0;
			margin: 0;
		}
		.pm0{
			padding: 0;
			margin: 0;
		}
		.a-x{
			padding-left: 24px;
			padding-right: 8px;
		}
		.xp-56{
			padding-left: 56px;
			padding-right: 56px;
		}
		.y-32{
			padding-top: 32px;
			padding-bottom: 32px;
		}
		.x-16{
			padding-left: 16px;
			padding-right: 16px;
		}
		.x-24{
			padding-left: 24px;
			padding-right: 24px;
		}
		.b-padding{
			padding: 32px 16px;
		}
		.btn{
			width: 100%;
			padding-top: 8px;
			padding-bottom: 8px;
		}
		.h5padding{
			padding: 32px 0 24px 0;
			margin: 0;
		}
		.jkl-header{
			padding: 32px 0 16px;
			margin: 0;
		}
		.jkl-row{
			padding: 16px;
		}
		.jklmn-mobile{
			padding: 0 0 8px;
		}
		.o-mobile{
			padding: 0 0 32px;
		}
		.jklmno-mobile-btn{
			padding: 16px 16px 24px;
		}
		.mno-row{
			padding: 16px 16px 32px;
		}
		.fghi-row{
			padding: 15px;
		}
		.de-row{
			padding: 32px 16px 16px;
		}
		.egi-padding{
			padding: 16px;
		}
		.egi-m{
			margin: 0;
		}
		.egi-p-y8{
			padding-top: 8px;
			padding-bottom: 8px;
		}